HOST=0.0.0.0
PORT=5050
DEBUG=false

MAX_FILE_SIZE_MB=20
MAX_BATCH_SIZE=10
OCR_TIMEOUT_SECS=60

# easyocr | tesseract | auto
OCR_ENGINE=easyocr

# EasyOCR
OCR_LANGUAGES=es
OCR_GPU=false

# Tesseract
TESSERACT_LANG=spa

OCR_MIN_QUALITY=0.4
MODO_DEFECTO=strict
